@font-face {
  font-family: "Press Start 2P";
  src: url(font.otf);
}
html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #E7B251;
  background-color: #FFFFFF;
  height: 100%;
}

#three-canvas {
  display: none;
  width: 100% !important;
  height: 100% !important;
}

.game-started #chrome-no-internet {
  display: none;
}
.game-started #three-canvas {
  display: block;
}
/**
 * Preloader.
 */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgb(82, 90, 95);
  background: radial-gradient(circle, rgb(82, 90, 95) 0%, rgb(0, 1, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#525a5f",endColorstr="#000101",GradientType=1);
}
#preloader.hidden {
  display: none;
}
#preloader:before {
  content: " ";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../media/preloader-dino.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 505px;
}
#preloader:after {
  content: " ";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../media/3d-title.png);
  background-repeat: no-repeat;
  background-position: center 75%;
  background-size: 1300px;
}
#preloader .progress {
  width: 1300px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 5%;
  margin: auto;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

@media (max-width: 1365px) {
  #preloader:after {
    background-size: 1100px;
  }
  #preloader .progress {
    width: 1100px;
  }
}
@media (max-width: 1200px) {
  #preloader:after {
    background-size: 1000px;
  }
  #preloader .progress {
    width: 1000px;
  }
}
@media (max-width: 992px) {
  #preloader:after {
    background-size: 750px;
  }
  #preloader .progress {
    width: 750px;
  }
}
@media (max-width: 768px) {
  #preloader:before {
    background-size: 70%;
  }
  #preloader:after {
    display: none;
  }
  #preloader .progress {
    width: 90%;
  }
}
/*
*
*
START // CHART'S RULES
 -> "if you're picking code, don't forget the variables :)"
*/
.chart {
  font-size: 1em;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.bar {
  font-size: 1em;
  position: relative;
  height: 10em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotateX(60deg) rotateY(0deg);
  transform: rotateX(60deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.bar .face {
  font-size: 2em;
  position: relative;
  width: 100%;
  height: 2em;
  background-color: rgba(254, 254, 254, 0.3);
}
.bar .face.side-a, .bar .face.side-b {
  width: 2em;
}
.bar .side-a {
  -webkit-transform: rotateX(90deg) rotateY(-90deg) translateX(2em) translateY(1em) translateZ(1em);
  transform: rotateX(90deg) rotateY(-90deg) translateX(2em) translateY(1em) translateZ(1em);
}
.bar .side-b {
  -webkit-transform: rotateX(90deg) rotateY(-90deg) translateX(4em) translateY(1em) translateZ(-1em);
  transform: rotateX(90deg) rotateY(-90deg) translateX(4em) translateY(1em) translateZ(-1em);
  position: absolute;
  right: 0;
}
.bar .side-0 {
  -webkit-transform: rotateX(90deg) rotateY(0) translateX(0) translateY(1em) translateZ(-1em);
  transform: rotateX(90deg) rotateY(0) translateX(0) translateY(1em) translateZ(-1em);
}
.bar .side-1 {
  -webkit-transform: rotateX(90deg) rotateY(0) translateX(0) translateY(1em) translateZ(3em);
  transform: rotateX(90deg) rotateY(0) translateX(0) translateY(1em) translateZ(3em);
}
.bar .top {
  -webkit-transform: rotateX(0deg) rotateY(0) translateX(0em) translateY(4em) translateZ(2em);
  transform: rotateX(0deg) rotateY(0) translateX(0em) translateY(4em) translateZ(2em);
}
.bar .floor {
  -webkit-box-shadow: 0 0.1em 0.6em rgba(0, 0, 0, 0.3), 0.6em -0.5em 3em rgba(0, 0, 0, 0.3), 1em -1em 8em #fefefe;
  box-shadow: 0 0.1em 0.6em rgba(0, 0, 0, 0.3), 0.6em -0.5em 3em rgba(0, 0, 0, 0.3), 1em -1em 8em #fefefe;
}

.growing-bar {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgba(236, 0, 140, 0.6);
  width: 100%;
  height: 2em;
}

.bar.yellow .side-a,
.bar.yellow .growing-bar {
  background-color: rgba(241, 196, 15, 0.6);
}
.bar.yellow .side-0 .growing-bar {
  -webkit-box-shadow: -0.5em -1.5em 4em rgba(241, 196, 15, 0.8);
  box-shadow: -0.5em -1.5em 4em rgba(241, 196, 15, 0.8);
}
.bar.yellow .floor .growing-bar {
  -webkit-box-shadow: 0em 0em 2em rgba(241, 196, 15, 0.8);
  box-shadow: 0em 0em 2em rgba(241, 196, 15, 0.8);
}

.bar.red .side-a,
.bar.red .growing-bar {
  background-color: rgba(236, 0, 140, 0.6);
}
.bar.red .side-0 .growing-bar {
  -webkit-box-shadow: -0.5em -1.5em 4em rgba(236, 0, 140, 0.8);
  box-shadow: -0.5em -1.5em 4em rgba(236, 0, 140, 0.8);
}
.bar.red .floor .growing-bar {
  -webkit-box-shadow: 0em 0em 2em rgba(236, 0, 140, 0.8);
  box-shadow: 0em 0em 2em rgba(236, 0, 140, 0.8);
}

.bar.cyan .side-a,
.bar.cyan .growing-bar {
  background-color: rgba(87, 202, 244, 0.6);
}
.bar.cyan .side-0 .growing-bar {
  -webkit-box-shadow: -0.5em -1.5em 4em #57caf4;
  box-shadow: -0.5em -1.5em 4em #57caf4;
}
.bar.cyan .floor .growing-bar {
  -webkit-box-shadow: 0em 0em 2em #57caf4;
  box-shadow: 0em 0em 2em #57caf4;
}

.bar.navy .side-a,
.bar.navy .growing-bar {
  background-color: rgba(10, 64, 105, 0.6);
}
.bar.navy .side-0 .growing-bar {
  -webkit-box-shadow: -0.5em -1.5em 4em rgba(10, 64, 105, 0.8);
  box-shadow: -0.5em -1.5em 4em rgba(10, 64, 105, 0.8);
}
.bar.navy .floor .growing-bar {
  -webkit-box-shadow: 0em 0em 2em rgba(10, 64, 105, 0.8);
  box-shadow: 0em 0em 2em rgba(10, 64, 105, 0.8);
}

.bar.lime .side-a,
.bar.lime .growing-bar {
  background-color: rgba(118, 201, 0, 0.6);
}
.bar.lime .side-0 .growing-bar {
  -webkit-box-shadow: -0.5em -1.5em 4em #76c900;
  box-shadow: -0.5em -1.5em 4em #76c900;
}
.bar.lime .floor .growing-bar {
  -webkit-box-shadow: 0em 0em 2em #76c900;
  box-shadow: 0em 0em 2em #76c900;
}

.bar.white .side-a,
.bar.white .growing-bar {
  background-color: rgba(254, 254, 254, 0.6);
}
.bar.white .side-0 .growing-bar {
  -webkit-box-shadow: -0.5em -1.5em 4em #fefefe;
  box-shadow: -0.5em -1.5em 4em #fefefe;
}
.bar.white .floor .growing-bar {
  -webkit-box-shadow: 0em 0em 2em #fefefe;
  box-shadow: 0em 0em 2em #fefefe;
}

.bar.gray .side-a,
.bar.gray .growing-bar {
  background-color: rgba(68, 68, 68, 0.6);
}
.bar.gray .side-0 .growing-bar {
  -webkit-box-shadow: -0.5em -1.5em 4em #444;
  box-shadow: -0.5em -1.5em 4em #444;
}
.bar.gray .floor .growing-bar {
  -webkit-box-shadow: 0em 0em 2em #444;
  box-shadow: 0em 0em 2em #444;
}

.chart .bar.yellow-face .face {
  background-color: rgba(241, 196, 15, 0.2);
}

.chart .bar.lime-face .face {
  background-color: rgba(118, 201, 0, 0.2);
}

.chart .bar.red-face .face {
  background-color: rgba(236, 0, 140, 0.2);
}

.chart .bar.navy-face .face {
  background-color: rgba(10, 64, 105, 0.2);
}

.chart .bar.cyan-face .face {
  background-color: rgba(87, 202, 244, 0.2);
}

.chart .bar.gray-face .face {
  background-color: rgba(68, 68, 68, 0.2);
}

.chart .bar.lightGray-face .face {
  background-color: rgba(145, 145, 145, 0.2);
}

.bar-0 .growing-bar {
  width: 0%;
}

.bar-1 .growing-bar {
  width: 1%;
}

.bar-2 .growing-bar {
  width: 2%;
}

.bar-3 .growing-bar {
  width: 3%;
}

.bar-4 .growing-bar {
  width: 4%;
}

.bar-5 .growing-bar {
  width: 5%;
}

.bar-6 .growing-bar {
  width: 6%;
}

.bar-7 .growing-bar {
  width: 7%;
}

.bar-8 .growing-bar {
  width: 8%;
}

.bar-9 .growing-bar {
  width: 9%;
}

.bar-10 .growing-bar {
  width: 10%;
}

.bar-11 .growing-bar {
  width: 11%;
}

.bar-12 .growing-bar {
  width: 12%;
}

.bar-13 .growing-bar {
  width: 13%;
}

.bar-14 .growing-bar {
  width: 14%;
}

.bar-15 .growing-bar {
  width: 15%;
}

.bar-16 .growing-bar {
  width: 16%;
}

.bar-17 .growing-bar {
  width: 17%;
}

.bar-18 .growing-bar {
  width: 18%;
}

.bar-19 .growing-bar {
  width: 19%;
}

.bar-20 .growing-bar {
  width: 20%;
}

.bar-21 .growing-bar {
  width: 21%;
}

.bar-22 .growing-bar {
  width: 22%;
}

.bar-23 .growing-bar {
  width: 23%;
}

.bar-24 .growing-bar {
  width: 24%;
}

.bar-25 .growing-bar {
  width: 25%;
}

.bar-26 .growing-bar {
  width: 26%;
}

.bar-27 .growing-bar {
  width: 27%;
}

.bar-28 .growing-bar {
  width: 28%;
}

.bar-29 .growing-bar {
  width: 29%;
}

.bar-30 .growing-bar {
  width: 30%;
}

.bar-31 .growing-bar {
  width: 31%;
}

.bar-32 .growing-bar {
  width: 32%;
}

.bar-33 .growing-bar {
  width: 33%;
}

.bar-34 .growing-bar {
  width: 34%;
}

.bar-35 .growing-bar {
  width: 35%;
}

.bar-36 .growing-bar {
  width: 36%;
}

.bar-37 .growing-bar {
  width: 37%;
}

.bar-38 .growing-bar {
  width: 38%;
}

.bar-39 .growing-bar {
  width: 39%;
}

.bar-40 .growing-bar {
  width: 40%;
}

.bar-41 .growing-bar {
  width: 41%;
}

.bar-42 .growing-bar {
  width: 42%;
}

.bar-43 .growing-bar {
  width: 43%;
}

.bar-44 .growing-bar {
  width: 44%;
}

.bar-45 .growing-bar {
  width: 45%;
}

.bar-46 .growing-bar {
  width: 46%;
}

.bar-47 .growing-bar {
  width: 47%;
}

.bar-48 .growing-bar {
  width: 48%;
}

.bar-49 .growing-bar {
  width: 49%;
}

.bar-50 .growing-bar {
  width: 50%;
}

.bar-51 .growing-bar {
  width: 51%;
}

.bar-52 .growing-bar {
  width: 52%;
}

.bar-53 .growing-bar {
  width: 53%;
}

.bar-54 .growing-bar {
  width: 54%;
}

.bar-55 .growing-bar {
  width: 55%;
}

.bar-56 .growing-bar {
  width: 56%;
}

.bar-57 .growing-bar {
  width: 57%;
}

.bar-58 .growing-bar {
  width: 58%;
}

.bar-59 .growing-bar {
  width: 59%;
}

.bar-60 .growing-bar {
  width: 60%;
}

.bar-61 .growing-bar {
  width: 61%;
}

.bar-62 .growing-bar {
  width: 62%;
}

.bar-63 .growing-bar {
  width: 63%;
}

.bar-64 .growing-bar {
  width: 64%;
}

.bar-65 .growing-bar {
  width: 65%;
}

.bar-66 .growing-bar {
  width: 66%;
}

.bar-67 .growing-bar {
  width: 67%;
}

.bar-68 .growing-bar {
  width: 68%;
}

.bar-69 .growing-bar {
  width: 69%;
}

.bar-70 .growing-bar {
  width: 70%;
}

.bar-71 .growing-bar {
  width: 71%;
}

.bar-72 .growing-bar {
  width: 72%;
}

.bar-73 .growing-bar {
  width: 73%;
}

.bar-74 .growing-bar {
  width: 74%;
}

.bar-75 .growing-bar {
  width: 75%;
}

.bar-76 .growing-bar {
  width: 76%;
}

.bar-77 .growing-bar {
  width: 77%;
}

.bar-78 .growing-bar {
  width: 78%;
}

.bar-79 .growing-bar {
  width: 79%;
}

.bar-80 .growing-bar {
  width: 80%;
}

.bar-81 .growing-bar {
  width: 81%;
}

.bar-82 .growing-bar {
  width: 82%;
}

.bar-83 .growing-bar {
  width: 83%;
}

.bar-84 .growing-bar {
  width: 84%;
}

.bar-85 .growing-bar {
  width: 85%;
}

.bar-86 .growing-bar {
  width: 86%;
}

.bar-87 .growing-bar {
  width: 87%;
}

.bar-88 .growing-bar {
  width: 88%;
}

.bar-89 .growing-bar {
  width: 89%;
}

.bar-90 .growing-bar {
  width: 90%;
}

.bar-91 .growing-bar {
  width: 91%;
}

.bar-92 .growing-bar {
  width: 92%;
}

.bar-93 .growing-bar {
  width: 93%;
}

.bar-94 .growing-bar {
  width: 94%;
}

.bar-95 .growing-bar {
  width: 95%;
}

.bar-96 .growing-bar {
  width: 96%;
}

.bar-97 .growing-bar {
  width: 97%;
}

.bar-98 .growing-bar {
  width: 98%;
}

.bar-99 .growing-bar {
  width: 99%;
}

.bar-100 .growing-bar {
  width: 100%;
}

/*
END // CHART'S RULES
*
*
*/
/**
 * Chrome no internet starting joke.
 */
#chrome-no-internet {
  width: 600px;
  height: 275px;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 175px;
  font-family: "Segoe UI", Tahoma, sans-serif;
}
#chrome-no-internet > .poster {
  display: block;
  width: 100%;
  height: 75px;
  background-image: url(../media/no-internet.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}
@-webkit-keyframes jump {
  from {
    top: 0px;
  }
  to {
    top: -50px;
  }
}
@keyframes jump {
  from {
    top: 0px;
  }
  to {
    top: -50px;
  }
}
#chrome-no-internet.before-start > .poster {
  -webkit-animation: jump 0.3s;
  animation: jump 0.3s;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
#chrome-no-internet > h1 {
  font-size: 24px;
  font-weight: 500;
  color: rgb(32, 33, 36);
  line-height: 30px;
  margin-bottom: 20px;
  margin-top: 75px;
}
#chrome-no-internet > .info > p {
  color: rgb(95, 99, 104);
  font-size: 15px;
  line-height: 23.25px;
  margin-bottom: 0;
}
#chrome-no-internet > .info > ul {
  color: rgb(95, 99, 104);
  font-size: 15px;
  list-style-type: disc;
  margin-top: 0;
  line-height: 23.25px;
}
#chrome-no-internet > .info > ul #game-start {
  color: #7FD133;
  font-weight: 500;
  cursor: pointer;
}
#chrome-no-internet > .info > ul #game-start.hidden {
  display: none;
}
#chrome-no-internet > .info > small {
  color: rgb(95, 99, 104);
  font-size: 12px;
  line-height: 18.6px;
}

/**
 * Interface stuff.
 */
#game-restart {
  width: 600px;
  height: 275px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
   supported by Chrome, Opera and Firefox */
}
#game-restart > h1 {
  font-size: 40px;
  margin-bottom: 75px;
}
#game-restart > img {
  width: 128px;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
#game-restart.hidden {
  display: none;
}

/**
 * Scores.
 */
#score-counter {
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 100;
  text-shadow: 0 1px 0 #61808e, 0 2px 0 #5d7b88, 0 3px 0 #587582, 0 4px 0 #54707c, 0 5px 0 #506a76, 0 6px 0 #4c6570, 0 7px 0 #485f6a, 0 8px 0 #445a64, 0 0 5px rgba(70, 131, 159, 0.05), 0 -1px 3px rgba(70, 131, 159, 0.2), 0 9px 9px rgba(70, 131, 159, 0.5), 0 12px 12px rgba(70, 131, 159, 0.5), 0 15px 15px rgba(70, 131, 159, 0.5);
}
#score-counter > .score-counter-score {
  margin-left: 30px;
}
#score-counter > .score-counter-score.score-flash {
  -webkit-animation: blinker 0.5s step-start infinite;
  animation: blinker 0.5s step-start infinite;
}

#webcam {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: blue;
  height: 150px;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
}