$LIGHTING_FLOOR: 1;
$LIGHTING_CEIL: 2;
$LIGHTING_FLAT: 3;

@mixin text3d($primary, $depth: 5, $shadowsteps: 5, $shadowincrementer: 3px, $shadowopacity: .5, $primaryshadowcolour: #000, $lighting: $LIGHTING_CEIL) {
  $predefinedShadows: (
    0 0 5px rgba($primaryshadowcolour, .05), 
    0 -1px 3px rgba($primaryshadowcolour, .2), 
    0 3px 5px rgba($primaryshadowcolour, .2));
  $value: ();
  @for $i from 1 through $depth {
    $num: $i + px;
    $hueadjust: $i;
    @if($lighting == $LIGHTING_FLOOR) {
      $hueadjust: ($i * 2 - $depth - 5) * 1%;
    } @elseif($lighting == $LIGHTING_CEIL) {
      $hueadjust: -($i*2 + $depth - 10) * 1%;
    } @elseif($lighting == $LIGHTING_FLAT) {
      $hueadjust: -$depth * 1%;
    }
    $colour: adjust-color($primary, $lightness: $hueadjust);
    $theShadow: 0 $num 0 $colour;
    $value: append($value, $theShadow, comma);
  }
  
  @for $i from 1 through $shadowsteps {
    @if($i >= length($predefinedShadows)) {
      $dist: $i * $shadowincrementer;
      $value: append($value, 0 $dist $dist rgba($primaryshadowcolour, $shadowopacity));
    } @else {
      $value: append($value, nth($predefinedShadows, $i));
    }
  }
  
  text-shadow: $value;
}

$fpscountergoodcolor: #08FC06;
$fpscounterbadcolor: #FF4077;
$scorecountercolor: darken(#85A0AC, 5%);

html,body { margin: 0; overflow: hidden;background-color: #E7B251; }
#three-canvas { width: 100%!important; height: 100%!important; }

body {
	background-color: #E7B251;
	font-family: 'Press Start 2P', cursive;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#score-counter {
  position: fixed;
  top: 100px;
  right: 50px;

  @include text3d(
    adjust-color($scorecountercolor, $lightness: -8%), 
    $depth: 8, 
    $primaryshadowcolour: adjust-color($scorecountercolor, $lightness: -10%, $saturation: +20%));

  & > .score-counter-score {
    margin-left: 30px;

    &.score-flash {
      animation: blinker .5s step-start infinite;
    }
  }
}

#fps-counter {
	position: fixed;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 30px;
  padding: 20px 20px;

	&.fps-status-good {
		color: $fpscountergoodcolor;
		@include text3d(
			adjust-color($fpscountergoodcolor, $lightness: -8%), 
			$depth: 8, 
			$primaryshadowcolour: adjust-color($fpscountergoodcolor, $lightness: -10%, $saturation: +20%));
	}

	&.fps-status-bad {
		color: darken($fpscounterbadcolor, 40%);
		@include text3d(
			adjust-color($fpscounterbadcolor, $lightness: -8%), 
			$depth: 8, 
			$primaryshadowcolour: adjust-color($fpscounterbadcolor, $lightness: -10%, $saturation: +20%));
	}

}